body{
    background-image: url("./img/1H.jpg");
    background-size:auto;
background-repeat: repeat;
   

 font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
    
}

* {
  box-sizing: border-box;
}

.divContenedorInicio{
    border:solid white 10px;

   overflow: hidden;

    width:100%; 



   
     

}

/* el contenedor principal del la plantilla de inicio de navegacion de usuario */
.containerPrincipal{
  

     background-color: grey;
     /* background-image: url("https://wallpapers.com/images/high/indigo-ggt7xhxuo1yn46n7.webp"); */
    /* width: 100%; */
    height: 150%;
    border:solid black 2px;
     gap:2px; 

     display: flex;
     flex-direction: column;
     margin-top: 2px;

        width: 98%;
    background-position: center;

   background-size: cover;
    
   background-image: url("./img/1B.jpg");
    background-size:auto;

background-repeat: repeat;
padding: 0;


}

.contenedorCabecera{
   
    
    height: 18vh;
   border:solid black 1px;
     background-color:transparent;
    background-repeat: no-repeat;
    background-size: cover;;
    

             background: rgba(158, 82, 185, 0.7); /*semitransparente */
    
   backdrop-filter: blur(12px); /*🔥 esto crea el efecto borroso */
   text-align: center;

}

.contenedorNavBar{
    border:solid transparent 1px;
    height: 8vh;

    /* background-color: rgb(180, 158, 182); */
    

             background: rgba(97, 54, 112, 0.7); /*semitransparente */
    
   backdrop-filter: blur(12px); /*🔥 esto crea el efecto borroso */



    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
 
}

.contenedorNavBar button{

   
    font-size: 15px;
    width:30%;


    


    padding: 0;
    overflow: hidden;
    border-right: 1px black solid;
    border-left: 1px white solid;

    border-top: white solid 1px;
    border-bottom: black 1px solid;

    /* background:linear-gradient(90deg, #07000A, #A63EDA, #FFFFFF); */

    /* background:linear-gradient(90deg, #691096, #a456d4, #FFFFFF); */

    background:linear-gradient(90deg, #FCFCFD, #A63EDA, #1E0800);
    /* background:linear-gradient(90deg, #FCFCFD, #A63EDA, #FFFFFF, #FFFFFF) */
}

.contenedorNavBar button:hover{
     border-right: white solid 1px;
  border-left: black solid 3px;

  border-top: 1px black solid;
  border-bottom: 1px white solid;

  color:white;
}

.divContenedorInicio{

    border:solid red 1px;

   
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    /* background-image: url("./img/1g.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;;

   padding:8px;

}






#divContenedorInicio2{
    border:solid black 1px;
  
    overflow: hidden;
  /* background-color: green; */
     padding: 0;
gap:1%;

     
}



#ventanaVistaPequena{
    border:solid black 1px;
    border-radius: 5px;
    width: 32%;
  
  

             background: rgba(119, 55, 192, 0.7); /*semitransparente */
             /* background: rgba(146, 145, 145, 0.644); semitransparente */
    
   backdrop-filter: blur(12px); /*🔥 esto crea el efecto borroso */

  
 height: 110vh;
display: flex;
 align-items: flex-start;
justify-content: flex-start;

    padding:0; 
}


#ventanaVistaGrande{
    border:solid black 1px;
    height: 110vh;
      
     width: 67%;
   

     
             background: rgba(119, 55, 192, 0.7); /*semitransparente */
             /* background: rgba(146, 145, 145, 0.644); semitransparente */
    
   backdrop-filter: blur(12px); /*🔥 esto crea el efecto borroso */
    padding:0;



}

#tituloMiniCards{
    border:solid red 1px;
    height: 10%;
    width: 100%;
    border-radius: 3%;

}

#contenidoVistaChica{
    border:solid white 2px;
   

    /* display: flex;
    flex-direction: row;

    justify-content: center;
    flex-wrap: wrap;
   padding: 2%;
 overflow-y: scroll;
    align-items: center;
    overflow-y: scroll; */
    height: 95%;

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;

  overflow-y: scroll;
  width: 100%;
margin:0;
    
}

#contenedorCarrouselVistaProducto{
    border:solid white 1px;
    height: 50%;
    overflow-y: hidden;
    margin:1px auto auto auto;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
   


}

#contenedorCarrouselVistaProducto img{
         width:auto;
    height:auto;
    /* border:solid white 2px; */
}

#contenedorDetallesVistaProducto{
    border:solid white 1px;
    height: 34%;
    margin: 1px auto auto auto;
   
    color:white;

      background: rgba(67, 14, 87, 0.7); /*semitransparente */
    
   backdrop-filter: blur(12px); /*🔥 esto crea el efecto borroso */
   
}


/* deberia llamarse barraCategorias disponibles */
#barraFiltros{
    /* margin:2px 2px; */
    /* width: 99%; */
     border:solid white 1px;
     display: flex;
     flex-direction: row;
  border-radius: 4px;
     gap: 8%;
     height: 8%;
     background: rgba(97, 54, 112, 0.7); /*semitransparente */
    padding: 1%;
   backdrop-filter: blur(12px); /*🔥 esto crea el efecto borroso */
   
}

#barraFiltros button{
 color:white;

    /* width:10%; */
   
text-decoration: dashed;

font-weight: bold;



     margin-left: 2%;
     /* margin-bottom: 10px; */
      box-shadow: 5px 5px 10px rgba(245, 238, 238, 0.3);

     
}

#barraFiltros button:hover{
    background: rgb(186, 90, 206);
  /* backdrop-filter: blur(12px); */

          /* background: rgba(244, 236, 247, 0.7); /*semitransparente */
/*     
   backdrop-filter: blur(12px); 🔥 esto crea el efecto borroso  */
    



 
}
#barraFiltros button:active{
border: 2px inset  black;
 /* box-shadow: 5px 5px 10px rgba(0,0,0,0.3); */

 box-shadow: inset 0 2px 5px rgba(0,0,0,0.3);
color:rgb(24, 23, 23);

 font-weight: bold;
}


#contenidoBarraFiltros{
    border:solid grey 1px;
 

  
}




.miniCardProducto{
    
    border:solid #ba92d3 1px;
    padding: 1px;

    height: 25%;
   
   
        
   
}

.miniCardProductoImg{

       border:solid #a456d4 1px;
   width: 100%;
       overflow: hidden;

     /* background-image: url("./img/1A.jpg"); */
 
    
/* background-image: url("https://drive.google.com/file/d/1r4Ac86wdu1VRwconSM03emxxts9T-yBx/view?usp=drive_link");
    */

    /* background-image: url("https://res.cloudinary.com/drlgl8o00/image/upload/v1774402767/uniK1500x1000_dtcwuk.png"); */

             background: rgba(215, 213, 216, 0.7); /*semitransparente */

   backdrop-filter: blur(12px); /*🔥 esto crea el efecto borroso */
   height: 50%;


   display: flex;
align-items: center;
    
   

}
.miniCardProductoImg img{
    border:solid white 1px;

 
     width:100%;
    height:auto;

      
      
}


.miniCardProductoDescripcion{

    border: solid black 1px;
   
    color:rgb(182, 130, 202);
     /* text-shadow: 2px 2px 4px black; */


color: #fff;
text-shadow:
    0 0 5px #d131d1,
    0 0 10px #d131d1,
    0 0 20px #d131d1,
    0 0 40px #d131d1;

    
    padding: 1px;


     background: rgba(67, 14, 87, 0.7); /*semitransparente */
    
   backdrop-filter: blur(12px); /*🔥 esto crea el efecto borroso */

overflow: hidden;
font-size: 10px;
display: flex;
flex-direction: column;
height: 50%;

    
}

@media (min-width: 576px){
    .miniCardProducto{
        height: 12%;
    }
   #pDescripcionChica{
    color: red;
};
.miniCardProductoDescripcion{
    color:blue;
};
}


@media (min-width: 768px) { 
.miniCardProductoDescripcion{
    color:greenyellow;
};
        #barraFiltros{
        flex-direction: column;
        /* background-color: blue; */
      height: 82vh;
        overflow-y: scroll;
    gap:4px;
    padding: 2px;
    display: flex;
    align-items: center;
    
    };
    #barraFiltros button{
        width:80%;
        /* font-size: 10px; */
        background-color:  #9c3eda;
        /* background-color:  green; */


    };
    
    .miniCardProducto{
    
        border:solid    white 1px;
    

        height: 20%;

    }; 

    
     #ventanaVistaPequena{
        border: solid white 2px;
        height: 100%;
        width: 35%;
        
        };
          #contenidoVistaChica{
        border:solid white 2px;
        height: 100vh;
        width: 100%;
    };



    #ventanaVistaGrande{
        height: 65%;
        border: solid white 2px;
        width:60%;
       
    }; 

#contenedorCarrouselVistaProducto img{
         width:100%;
    height:80%;
    border:solid black 2px;
}; 




}


@media (min-width: 992px) { 


        #contenidoVistaChica{
    height: 100%;
    border:solid green 2px;
};

#divContenedorInicio2{
    border:solid white 1px;
  
    overflow: hidden;
  /* background-color: green; */
     padding: 0.8rem;
gap:1%;
height: 100%;

     
};



#ventanaVistaPequena{
    border:solid greenyellow 10px;
    border-radius: 5px;
  
  

             background: rgba(119, 55, 192, 0.7); /*semitransparente */
             /* background: rgba(146, 145, 145, 0.644); semitransparente */
    
   backdrop-filter: blur(12px); /*🔥 esto crea el efecto borroso */

  
 height: 100%;
}
    




}





/*

@media screen and (max-width:768px){

   
   #barraFiltros button{

    

    overflow: hidden;

 

    background-color:  #a456d4;
    color:white;
    height: 25px;
    font-weight: bold;
    border-right: black 3px solid;
    border-bottom: black 3px solid;
    margin-bottom: 1px;
    text-align: top;
    font-size: 9px;
    
   
};

#contenidoVistaChica{
    height:100%;

};

#contenedorCarrouselVistaProducto img{
         width:100%;
    height:80%;
    border:solid black 2px;
};
}
*/

@media screen and (max-width:380px){

   #barraFiltros button{
    width: 30%;
    background-color: #a456d4;
    margin-left: 0px;
    /* font-size: 0.5px; */
 
  };
  
}


/*
@media screen and (min-width:768px) and (max-width:990px){
    #barraFiltros{
        flex-direction: column;
        
      height: 82vh;
        overflow-y: scroll;
    gap:4px;
    padding: 2px;
    display: flex;
    align-items: center;
    
    };
    #barraFiltros button{
        width:80%;

        background-color:  #9c3eda;
  


    };
    
    .miniCardProducto{
    
        border:solid    white 1px;
    

        height: 20%;

    }; 

    
     #ventanaVistaPequena{
        border: solid white 2px;
        height: 100%;
        width: 35%;
        
        };
          #contenidoVistaChica{
        border:solid white 2px;
        height: 100vh;
        width: 100%;
    };



    #ventanaVistaGrande{
        height: 65%;
        border: solid white 2px;
        width:60%;
       
    }; 

#contenedorCarrouselVistaProducto img{
         width:100%;
    height:80%;
    border:solid black 2px;
}; 



} 

*/

/* usar esto desde 600px hacia arriba, desde ese valor hacia abajo
hay que poner la ventanavistapequena de foma horizontal */

/*
@media screen and (max-width:768px){
    #barraFiltros{
      
        height: 10vh;
         justify-content: center;
 
    
         display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; 
    overflow-y: scroll;

 
    };

    #barraFiltros button{
     
        margin-top: 2px;
        width:auto;
        text-align: center;
            
              
         
           
    };
    #ventanaVistaPequena{
        border:solid black 2px;
        height: 100%;
        width: 33%;
    };

    #contenidoVistaChica{
        border:solid white 2px;
        height: 100vh;
    };
    #ventanaVistaGrande{
        height: 60%;
        border: solid black 2px;
        width:60%;
       
    };

    .miniCardProducto{
        height: 22%;
        width: 100%;
         
    }; 
    CAMBIAR AQUI EL CONTENIDO DE LA DESCRIPCION DE LAS MINICARD

    

   
}
*/


.sinPadding{
    padding:0px;
}



@media screen and(min-width:1100px){

 
    #barraFiltros button{
        background-color: yellow;
        height: 10vh;

    };
}

/*  
 @media screen and (min-width:990px) 
 {
    #barraFiltros{
   
       height: 15vh;
      
           display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;

        
    
    };
    #barraFiltros button{

              
              background-color:  #a456d4;;

              
        border-top: black 2px;
        border-left: black 2px;

        border-bottom: white 1.5px solid;
        border-right: white 1.5px solid;
       margin-bottom: 4px;
    };
    #ventanaVistaPequena{
        border:solid greenyellow 3px;
        height: 100%;
        width: 30%;
    };

    #contenidoVistaChica{
        border:solid grey 2px;
        height: 100vh;
    };
}
 */

 

/*
@media screen and(min-width:990px) and (max-width:2000px){



        #contenidoVistaChica{
    height: 100%;
    border:solid green 2px;
};

#divContenedorInicio2{
    border:solid white 1px;
  
    overflow: hidden;

     padding: 0.8rem;
gap:1%;
height: 100%;

     
};



#ventanaVistaPequena{
    border:solid greenyellow 10px;
    border-radius: 5px;
  
  


  
 height: 100%;
}
    

  
}
*/

#contenidoVistaChica div{

}

#divContenedorInicio2 button{

}



#pDescripcionChica{
    color: white;
 width:100px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;

}

.titulo{
    font-size: 16px;
}

#tituloGrande{
    /* color: #fff;
text-shadow:
    0 0 5px #d131d1,
    0 0 10px #d131d1,
    0 0 20px #d131d1,
    0 0 40px #d131d1; */

 text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;


     
}

#descripcionGrande{
    font-size: 20px;
}